# Server
SERVER_PORT=8080
TZ=Asia/Seoul

# Database
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=has
DATABASE_USERNAME=mysql
DATABASE_PASSWORD=qwer1234
MYSQL_ROOT_PASSWORD=qwer1234

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis1234

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# JWT
JWT_SECRET=jwt-secret-for-my-auth-system-plz-autoever
JWT_ACCESS_TOKEN_VALIDITY=600000
# JWT_ACCESS_TOKEN_VALIDITY=10000
JWT_REFRESH_TOKEN_VALIDITY=1209600000

# CORS
CORS_ORIGIN_LOCAL_VITE=http://localhost:5173
CORS_ORIGIN_LOCAL_REACT=http://localhost:3000